<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSSXX"}  %40.40logger{40}  [ %-5level ]  %msg%n</pattern>
        </encoder>
    </appender>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
